@page "/gardenhouses"
@using WoodenGardenApp.Shared.DTOs
@using WoodenGardenFrontServer.Services.IServices
@inject NavigationManager _navigationManager
@inject IGardenHouseService _gardenHouseService

<div class="input-group bg-secondary border-dark shadow-sm p-2 mb-2">
    <p class="text-danger m-2 fw-bold">Admin options: </p>
    <btn class="btn btn-outline-light" @onclick="NavigateToAddNewGardenHouse">Add new</btn>
</div>

<div class="container">
    @if (GardenHousesList is not null)
    {
        @foreach (var chunk in GardenHousesList.Chunk(3))
        {
            <div class="row row-cols-1 row-cols-sm2 row-cols-md-3 g-3 mb-3">
                @foreach (var houseDTO in chunk)
                {
                    <GardenHouse GardenHouseDTO="houseDTO"/>
                }
            </div>
        }
    }
</div>

@code {
    private IEnumerable<GardenHouseDTO>? GardenHousesList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GardenHousesList = await _gardenHouseService.GetGardenHouses();
    }

    private void NavigateToAddNewGardenHouse() => _navigationManager.NavigateTo("AddGardenHouse");
}