@using WoodenGardenApp.Shared.DTOs
@using Blazorise

<div class="col">
    <div class="card shadow-sm">
        <Carousel @bind-selectedSlide="@_selectedSlide" Autoplay="false">
            @for (var i = 0; i < GardenHouseImages!.ImageUrls?.Count; i++)
            {
                var imageNo = i;
                <CarouselSlide Name="@i.ToString()">
                    <Image Source="@GardenHouseImages.ImageUrls[imageNo]" Text="Building" Display="Display.Block" Style="max-width: 100%;"/>
                </CarouselSlide>
            }
        </Carousel>

        <div class="card-body">
            <p class="card-title">
                <b>@GardenHouseDTO?.Name</b>
            </p>
            <p class="card-text">@GardenHouseDTO?.Description</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public GardenHouseDTO? GardenHouseDTO { get; set; }

    [Parameter]
    public GardenHouseImageDTO? GardenHouseImages { get; set; } = new();

    private string _selectedSlide = "0";
}