@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        <a href="authentication/profile" class="m-1">@context.User.Identity?.Name</a>
        <button type="button" class="btn btn-outline-warning" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <button type="button" class="btn btn-outline-light me-2" @onclick="@(() => Navigation.NavigateTo("authentication/login"))">Login</button>
        <button type="button" class="btn btn-warning" @onclick="@(() => Navigation.NavigateTo("authentication/register"))">Sign-up</button>

    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
