<header class="p-3 bg-dark text-white">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="images/logo.png" width="30" height="30"/>
                <p class="m-2">Wooden Garden</p>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <NavLink class="nav-link" href="gardenhouses">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Garden Houses
                    </NavLink>
                </li>
            </ul>

            <div class="text-end">
                <LoginDisplay />
            </div>
        </div>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
