@page "/gardenhouses"
@using WoodenGardenApp.Shared.DTOs

<AuthorizeView>
    <div class="input-group bg-secondary border-dark shadow-sm p-2 mb-2">
        <p class="text-danger m-2 fw-bold">Admin options: </p>
        <btn class="btn btn-outline-success">Add new</btn>
    </div>
</AuthorizeView>

<div class="container">
    <div class="row row-cols-1 row-cols-sm2 row-cols-md-3 g-3">
        <GardenHouse GardenHouseDTO="_gardenHouse" GardenHouseImages="_gardenHouseImage"/>
        <GardenHouse/>
        <GardenHouse/>
    </div>
</div>

@code {

    private readonly GardenHouseDTO _gardenHouse = new GardenHouseDTO
    {
        Name = "TestName",
        Description = "Test description to be shown"
    };

    private readonly GardenHouseImageDTO _gardenHouseImage = new GardenHouseImageDTO
    {
        ImageUrls = new List<string>
        {
            "images\\home\\carousel\\1.jpg",
            "images\\home\\carousel\\2.jpg"
        },
    };
}